<%- include ( '../partials/head' ); %>
    <%- include ( '../partials/header' ); %>

    <main>
        <div class="img-left">
        </div>
        <form method="post" action="/producto" id="producto">
            
            <h2>Administración de productos</h2>
            <div class="inputs">
                <input type="text" name="nombre" id="nombre" minlength="5" maxlength="60" required placeholder="Nombre" />
                <input type="text" name="descripcion" id="descripcion" minlength="5" maxlength="60" placeholder="Descripción" />
                <select name="categoria" id="categoria">
                    <option value="">[Categoría]</option>
                    <% for(let i = 0; i < categorias.length ; i++) { %>
                        <option value= "<%= categorias[i] %>"><%= categorias[i] %> </option>
                    <% } %>
                </select>
            </div>
            <h3>Talles disponibles:</h3>
            <div class="check">
                <% for(let i = 0; i < talles.length ; i++) { %>
                    <input type="checkbox"  value= "<%= talles[i] %>" name="<%= talles[i] %>"> <%= talles[i] %>
                <% } %>
            </div>

            <div class="inputs">
                $ <input type="number" name="precio" id="precio" required placeholder="Precio" />
                <label for="imagen">Imagen del producto:</label>    <input type="file" name="imagen" id="imagen" required />
            </div>

            <button class="guardar">Guardar</button>
        </form>
    </main>
    
    
    <%- include ( '../partials/footer.ejs' ); %>