<%- include ( './partials/head' ); %>
    <%- include ( './partials/header' ); %>

        <main id="listadoproductos">
            <% for ( producto of productos) { %>
                <a href="/products/detalle/<%= producto.id %>" id="divproductos">
                    <div id="divimagen">
                        <img src="images/hombre1.jpg" alt="imagen producto" id="imgdivproducto">
                    </div>
                    <h2 id="h2nombreproducto">
                        <%= producto.nombre %>
                    </h2>
                    <p id="pdivproducto">
                        <%= producto.categoria %>
                    </p>
                    <p id="pdivproducto">$<%= producto.precio %>
                    </p>
                </a>
                <% } %>
        </main>

        <%- include ( './partials/footer.ejs' ); %>