<%- include ( './partials/head' ); %>
    <%- include ( './partials/header' ); %>

        <!-- HEADER -->

        <!-- MAIN -->

        <div class="main container">
            <div class="contenedorDetalleProducto">
                <div class="row  justify-content-center">
                    <div class="imagen col-5">
                        <img src="/images/<%=producto.imagen%>" alt="imagen-del-producto" />
                    </div>
                    <div class="descripcion col-5">
                        <div class="datos-producto ">
                            <h2>
                                <%= producto.nombre %>
                            </h2>
                            <p>$
                                <%= producto.precio %>
                            </p>
                            <p><strong>
                                    <%= producto.categoria.categoria %>
                                </strong></p>
                        </div>
                        <div class="descripcion">
                            <h4>Detalle del producto:</h4>
                            <p class="descripcionProducto">
                                <%= producto.descripcion %>
                            </p>
                        </div>
                        <% if (locals.admin) { %>
                            <div class="editarproductobutton">
                                <a href="/products/<%= producto.id_producto %>/edit">Editar producto</a>
                            </div>
                            <% } %>
                    </div>
                </div>
                <!--AGREGAR FORM PARA MANDAR DATA EN COMPRAR-->
                <div class="talleProducto row justify-content-center">
                    <i class="fas fa-circle"></i>
                    <p>TALLES:</p>
                    <% for (talle of talles) { %>
                        <button class="btn boton col-2">
                            <%= talle.talle %>
                        </button>
                        <% } %>
                        <form action="/agregarProducto/<%= producto.id_producto %>" method="post">
                            <input type="text" name="nombre" value="<%= producto.nombre %>" style="display: none;">
                            <input type="number" name="precio" value="<%= producto.precio %>" style="display: none;">
                            <% if (locals.isLogged == true) { %>
                            <button type="submit" class="btn col-6 btnEstilo">Agregar al carrito</button>
                            <% } %>
                        </form>
                </div>
            </div>


        </div>



        <%- include ( './partials/footer.ejs' ); %>