<%- include ( './partials/head' ); %>
    <%- include ( './partials/header' ); %> 
        <section id="bannerHome">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/imagenes/banner1.jpg" class="d-block w-100 " alt="banner black frida">
                    </div>
                    <div class="carousel-item">
                        <img src="/imagenes/banner2.jpg" class="d-block w-100 " alt="banner ofertas jueves">
                    </div>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>


        </section>
        <div id="banner1">

        </div>

        <section id="descuentosHome">
                 
           
                <% for (let i = 0; i < 3; i++) { %>
                    <article class="cajaArticulo ">
                    <a href="/products/<%= producto[i].id_producto %>" id="producto" class="col-md-3 col-sm-12 text-center">                    
                        <img src="../images/<%= producto[i].imagen%>" alt="imagen producto" id="imgProducto" class="imgOferta">                        
                        <div class="contieneDatos">
                            <h4 id="tituloProducto" class="tituloProductoHome">
                                <%= producto[i].nombre %>
                            </h4>
                            <p id="categoriaProducto" class="detalleProductoHome">
                                <%= producto[i].categoria.categoria %>
                            </p>
                            <p id="precioProducto" class="precioHome">$
                                <%= producto[i].precio %>
                            </p>
                        </div>                 

                </a>
            </article>
                    <% } %>
          
            
          
            <article id="metodosDePagoHome">
                <h2 class="col-12 text-center">Formas de Pago</h2>
                <div class="pagosHome row">
                    <div class="col-md-4 col-sm-12">
                        <p>Todos los medios de pago</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Hasta 18 cuotas sin interes.</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Efectivo contra entrega</p>
                    </div>

                </div>
            </article>
        </section>

        <%- include ( './partials/footer.ejs' ); %>